{
  "env": {
    "node": true,
    "browser": true
  },

  "globals": {
    "dmaf": true,
    "createjs": true
  },

  "rules": {
    "no-comma-dangle": 1,
    "no-cond-assign" : 1,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-dupe-keys": 1,
    "no-empty": 0,
    "no-empty-class": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 0,
    "no-extra-parens": 0,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-inner-declarations": 0,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 1,
    "no-regex-spaces": 1,
    "no-reserved-keys": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 1,
    "no-use-before-define": 0,
    "use-isnan": 1,
    "valid-jsdoc": 0,
    "valid-typeof": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],

    "camelcase": 1,
    "curly": 0,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "eol-last": 1,
    "func-names": 0,
    "func-style": 1,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "max-nested-callbacks": 0,
    "new-cap": 1,
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": 1,
    "no-nested-ternary": 0,
    "no-new": 0,
    "no-new-object": 1,
    "no-space-before-semi": 1,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-underscore-dangle": 0,
    "no-wrap-func": 1,
    "no-path-concat": 0,
    "one-var": 0,
    "no-unused-expressions": 0,
    "padded-blocks": "never",
    "quotes": [2, "single"],
    "quote-props": "as-needed",
    "semi": 1,
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "spaced-line-comment": ["always", {"exceptions": ["-","+"]}],
    "wrap-regex": 0,
    "max-params": [1, 3],
    "yoda": "never"
  }
}